body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.h-100 {
    height: 100%;
}

.card {
    background-color: #fca903;
    border: 1px solid black;
    border-radius: 10%;
    position: absolute;
}

.player-card {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}